# Xcode
build/
DerivedData/
*.xcworkspace
!*.xcworkspace/contents.xcworkspacedata
xcuserdata/
*.xcuserstate
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods (if used later)
Pods/

# OS
.DS_Store
*.swp
*~

# Env
.env
.env.*
